.recipe-container {
    background-color: #fff2e6;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-top: 4rem;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3);
  }
  
  .recipe-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .recipe-header h1 {
    font-size: 2.5em;
    color: #000;
    margin: 0;
  }
  
  .recipe-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .ingredients, .steps {
    width: 45%;
  }
  
  .ingredients h2, .steps h2 {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 10px;
  }
  
  .ingredients ul, .steps ol {
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 20px;
  }
  
  .ingredients ul {
    list-style-type: disc;
  }
  
  .steps ol {
    list-style-type: decimal;
  }
  
  .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .food-image {
    width: 80px;
    height: auto;
    margin: 0 10px;
  }
  
  .photos {
    text-align: center;
  }
  
  .photos h2 {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 10px;
  }
  