body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff5722;
  padding: 1rem 2rem; 
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 50px; 
  margin-right: 15px; 
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-menu li {
  margin-left: 2rem; 
}

.underlineLink {
  text-decoration: none;
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
  transition: color 0.3s;
}

.underlineLink:after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: width 0.3s;
}

.underlineLink:hover {
  color: #000000;
  font-weight: bold;
}

.underlineLink:hover:after {
  width: 100%;
}
